- routes.each do |route|
  .row-fluid.route_list_item
    .span1= image_tag route.photo.thumb.url
    .span6
      = link_to "#{route.mount.title} + #{route.title}", route
      %br
      %strong= route.difficulty
