%h1="#{@route.mount.title} + #{@route.title}"
- if can? :edit, @route
  = link_to "Редактировать", edit_route_path(@route) 
%p  
  %strong= "Сложность: #{@route.difficulty}"
  %br
  = image_tag @route.photo.url

%h3= "Описание."
%p= @route.description
